#header-container {
    background: url('./images/elton-john-background.jpg');
    /* linear-gradient(rgba(0,0,0,0.5) 50%, rgba(57,56,56,0.5) 50%),  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -19em;
    min-height: 300px;
}

h1 {
  margin-left: 1em;
  padding-top: 1vh;
  font-family: 'Baloo Bhai', cursive;
  font-size: 3em;
  color: white;
}

h2 {
  /* text-align: center; */
  color: white;
  font-family: 'Baloo Bhai', cursive;
  margin-left: 1em;
}

#logo-span {
  color: yellowgreen;
}

#dropdown-container {
  text-align: right;
}

.ui.selection.dropdown {
  /* dropdown styling */
  margin: 12px;
}

.ui.three.cards>.card {
  /* card styling */
  width: calc(29.333333% - 2em);
}

.ui.modal>.content {
  /* modal styling */
  text-align: center;
}